[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2024.7.4"
charset-normalizer = "==3.3.2"
idna = "==3.7"
urllib3 = "==2.2.2"
llama-index = "*"
"llama-index.llms.gemini" = "*"
python-dotenv = "*"
chromadb = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.12"
